.home-page{
    background-color:$dark-blue;
    min-height: 100vh;

    &__content{
        &__header{
            margin-top: 100px;
            &-brand{
                font-family: $title-font;
                font-size: 24px;
                font-weight: 500;
                text-align: left;
            }
        }

        &__hero{
            margin-top: 260px;
            &-title{
                background: url('./../images/logo.png') no-repeat center;
                text-indent: -99999px;
                line-height: 121px;
                background-size: contain;
            }
            &-subtitle{
                font-size: 12px;
                letter-spacing: 5px;
                margin-top:25px;
                padding: 0;
            }
        }
    }
}