$font-stack-1: "Nunito",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;


$dark-blue: #191F2D;
$white: #fff;
$green: #8EFFC0;

$default-font:"Nunito";
$title-font:"Roboto";